header {
  width: 100%;
  height: 400px;
  position:relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ad7d29;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

